<h1>Editar tarefa</h1>

<div class="well">
  <form #formTarefa="ngForm">
    <div class="form-group">
      <label for="nome">Tarefa:</label>
      <input 
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="tarefa.nome"
        #nome="ngModel"
        required> 
      <div class="alert " *ngIf="nome.errors && (nome.dirty || nome.touched)">
        <div [hidden]="!nome.errors.required">
          Digite a tarefa.
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input 
        type="submit"
        [disabled]="!formTarefa.form.valid"
        class="btn"
        value="Atualizar">
      <a 
      [routerLink]="['/tarefas']" 
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" 
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
